:root{

--azul:#1565c0;
--oscuro:#0f172a;
--gris:#f4f4f4;
--blanco:white;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:var(--gris);

}

header{

background:var(--oscuro);

padding:20px;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

max-width:1200px;

margin:auto;

}

.logo{

color:white;

font-size:30px;

font-weight:bold;

}

nav ul{

display:flex;

gap:30px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

font-weight:bold;

}

.hero{

display:flex;

justify-content:center;

align-items:center;

gap:60px;

padding:80px;

background:white;

}

.foto{

width:240px;

height:240px;

border-radius:50%;

object-fit:cover;

border:6px solid var(--azul);

}

.hero div{

max-width:600px;

}

.hero h1{

font-size:45px;

margin-bottom:10px;

color:var(--oscuro);

}

.hero h2{

color:var(--azul);

margin-bottom:20px;

}

.hero p{

margin-bottom:25px;

line-height:30px;

}

.boton{

background:var(--azul);

padding:15px 35px;

color:white;

text-decoration:none;

border-radius:8px;

}

section{

padding:70px;

max-width:1200px;

margin:auto;

}

section h2{

margin-bottom:30px;

color:var(--oscuro);

font-size:35px;

}

.cards{

display:flex;

flex-wrap:wrap;

gap:20px;

}

.card{

background:white;

padding:25px;

flex:1;

min-width:200px;

text-align:center;

font-weight:bold;

box-shadow:0px 0px 8px rgba(0,0,0,.1);

}

.experiencia{

background:white;

padding:30px;

box-shadow:0px 0px 8px rgba(0,0,0,.1);

}

footer{

margin-top:40px;

background:var(--oscuro);

color:white;

text-align:center;

padding:30px;

}